.wrapper {
	width: 800px;
	margin: 0 auto;
}

.transform,
.transition,
.animation {
	border: 1px solid #999;
	margin: 20px 0;
	padding: 0 0;
}

.box {
	width: 200px;
	height: 200px;
}

.b1 {
	background-color: #80e1d4;
	/*green*/
}

.b2 {
	background-color: #9696ff;
	/*purple*/
}

.b3 {
	background-color: #85e1f4;
	/*blue*/
}

.b4 {
	background-color: #e89380;
	/*orange*/
}
/*_______________________________________
			Transition
________________________________________*/
.transition .b1{
	transition: width 1000ms ease-in-out;
	-webkit-transition: width 1000ms ease-in-out;
	-moz-transition: width 1000ms ease-in-out;
	-ms-transition: width 1000ms ease-in-out;
	-o-transition: width 1000ms ease-in-out;
}
.transition .b1:hover{
	width: 400px;
	height: 150px;
}
.transition .b2{
	transition: width 1000ms, height 500ms ease-out;
	-webkit-transition: width 1000ms, height 500ms ease-out;
	-moz-transition: width 1000ms, height 500ms ease-out;
	-ms-transition: width 1000ms, height 500ms ease-out;
	-o-transition: width 1000ms, height 500ms ease-out;
	transition-delay: .5s;
}
.transition .b2:hover{
	width: 250px;
	height: 250px;
}
.transition.b3{
	transition: transfrom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) .5s;
	-webkit-transition: transfrom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) .5s;
	-moz-transition: transfrom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) .5s;
	-ms-transition: transfrom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) .5s;
	-o-transition: transfrom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) .5s;
}
.transition .b3:hover{

}
.transition .b4{
	all: ;
}